/* AccordionCustom.css */
.accordion-class {
    color: green;
    padding-left: 4%;
    padding-right: 4%
}


/* color of the accordion header and body */
.accordion-header {

    color: #7498bd;
}

.accordion-body {
    color: #7498bd;
}
