.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

#fullRange {
    font-family: "Yeseva One", serif;
    text-align: left;
    font-size: 36px;
    color: #000000;
    margin: 10px 0;
    word-wrap: break-word; /* Ensure long words break to the next line */
}

#partnerships {
    font-weight: 700;
    font-size: 40px;
    font-family: "Big Shoulders", sans-serif;
    text-align: left;
    color: #000000;
    margin: 10px 0;
    /* word-wrap: break-word; Ensure long words break to the next line */
}

#scheduleConsultation {
    font-weight: bold;
    text-align: center;
    font-family: "Yeseva One", serif;
    font-size: 30px;
    color: #0097b2;
    margin: 10px 0;
    word-wrap: break-word; /* Ensure long words break to the next line */
}

#scheduleConsultation a {
    color: #0097b2; /* Ensure the link color matches the text color */
    font-family: 'Yeseva One', serif;
    text-decoration: none; /* Remove underline from the link */
}

#scheduleConsultation a:hover {
    font-family: 'Yeseva One', serif;
    text-decoration: none; /* Add underline on hover */
}

@media (max-width: 600px) {
    .text-center {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    #fullRange, #partnerships, #scheduleConsultation {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}
