.text-container {
    display: flex;
    max-width: calc(33.33% - 20px); /* Set a maximum width to ensure wrapping */
    flex: 1 1 calc(33.33% - 20px); /* Ensure it takes up one-third of the row */

    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
}

#fullRange {
    font-weight: bold;
    font-family: "Yeseva One", serif;
    text-align: left;
    font-size: 36px;
    color: #000000;
}

#partnerships {
    font-weight: 700;
    font-size: 57px;
    /*font-optical-sizing: auto;*/
    font-family: "Big Shoulders Display", sans-serif;
    text-align: left;
    color: #000000;
}

#scheduleConsultation {
    font-weight: bold;
    text-align: justify;
    font-family: "Yeseva One", serif;
    font-size: 22px;
    color: #0097b2;
}



