.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards as needed */
    align-items: center; /* Center the cards vertically */
}

.about {
    display: flex;
    flex-direction: row; /* Default to row direction */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.about-left, .about-right {
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 20px;
}

.aboutLeft {
    flex: 0 0 50%; /* Adjust the width of the left column */
    background-color: #ffffff;
    color: #000000;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: space-between;
    align-items: center;
}

.vertical-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

.vertical-list li {
    margin-bottom: 10px; /* Add space between list items */
    display: block; /* Ensure each list item is displayed as a block element */
}
.getintouch a{
    color: #0097b2; /* Ensure the link color matches the text color */
    font-family: 'Yeseva One', serif;
    text-decoration: none; /* Remove underline from the link */
}

.getintouch a:hover {
    font-family: 'Yeseva One', serif;
    text-decoration: none; /* Add underline on hover */
}

@media (max-width: 600px) {
    .about {
        flex-direction: column; /* Stack elements vertically */
        padding: 0; /* Remove padding to honor the edge of the device */
    }

    .aboutRight {
        order: -1; /* Place .aboutRight above .aboutLeft */
        flex: 0 0 auto; /* Adjust flex properties for mobile view */
        width: 100%; /* Ensure full width */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .aboutLeft {
        flex: 0 0 auto; /* Adjust flex properties for mobile view */
        width: 100%; /* Ensure full width */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .card-container {
        gap: 10px; /* Reduce gap for smaller screens */
    }
}
