.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards as needed */
    align-items: center; /* Center the cards vertically */
}


.about {
    display: inline-flex;
    width: 100vw;
}

.about-left, .about-right {
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 20px;
  }

.aboutLeft {
    flex: 0 0 50%; /* Adjust the width of the left column */
    padding: 20px; /* Example styling */
    background-color: #121212;
    color: #e0e0e0;
}

.aboutRight {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

}
