.contact-home {
    color: #000000 !important;
    text-decoration: none !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.portfolio-col {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Media query for phones */
@media (max-width: 600px) {
    .portfolio-container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .portfolio-row {
        flex-direction: column; /* Stack columns vertically */
        align-items: center;
    }

    .portfolio-col {
        width: 100%; /* Make columns take full width */
        margin: 5px 0; /* Adjust margin for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .home-container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .home-container p {
        font-size: 1em; /* Adjust font size for readability */
    }
}