/* App.css */
/*body {*/
/*  color: #7498bd;*/

/*}*/
.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 10vh; /* Adjust based on the height of the navigation bar */
  padding: 10px 10px 10px 10px;
}
/* make it mobile friendly */
@media (max-width: 600px) {
  .main-content {
    padding: 5px; /* Adjust padding for smaller screens */
  }
}
